<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GameMaster</title>
    <link rel="stylesheet" href="../static/styles/style_imc.css">
</head>
<body>
   <nav>
        <a href="/">Início</a>
        <a href="/cadastro_p">Cadastro de Plataformas</a>
        <a href="/consulta_plataformas">Consulta de Plataformas</a>
        <a href="#">Cadastro de Jogos</a>
        <a href="#">Consulta de Jogos</a>
   </nav>

   <h1>Bem-Vindo o Sistema de Gerenciamento</h1>

   <p>
    Este sistema permite gerenciar gerenciar os jogos e Plataforma da loja
    de videogame <strong>GameMaster</strong>.
    Utilize as opções acima para cadastrar ou consultar plataformas e jogos
   </p>
</body>
</html>